<div class="container">
  <div class="main-content">
    
    <!-- Taskbar -->
    <div class="taskbar">
      <app-taskbar></app-taskbar>
    </div>

    <div class="middle">
      <!-- Left sidebar -->
      @if (editorService.isLeftSidebarVisible()) {
      <app-left-sidebar animate.enter="enter-animation-left"></app-left-sidebar>
      }

      <!-- Editor -->
      <app-editor></app-editor>

      <!--  -->
      @if (editorService.isRightSidebarVisible()) {
      <app-right-sidebar animate.enter="enter-animation-right"></app-right-sidebar>
      }
    </div>

    <!-- Terminal -->
    @if (editorService.isTerminalVisible()) {
    <div class="terminal-container">
      <div class="terminal">
        <app-terminal></app-terminal>
      </div>
    </div>
    }
  </div>
  <router-outlet />
</div>
