/* You can add global styles to this file, and also import other style files */

/* Remove default margins and fit to viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}



/* Animation for component entry */
.enter-animation-left {
  animation: slide-fade-right 1s;
}

.enter-animation-right {
  animation: slide-fade-left 1s;
}

@keyframes slide-fade-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-fade-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}